<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DB_Smart_Fitness_1Entities" connectionString="   metadata=res://*/BaseModel.csdl|res://*/BaseModel.ssdl|res:   //*/BaseModel.msl;provider=System.Data.SqlClient;provider connection    string=&quot;data source=DESKTOP-9OAVHI6\SQLEXPRESS;initial catalog=DB_Smart_Fitness_1;   integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_Smart_Fitness_1" 
		 connectionString="
		 Data Source=DESKTOP-9OAVHI6\SQLEXPRESS;
		 Database=DB_Smart_Fitness_1;
		 Integrated Security=True;
		 Connect Timeout=30;
		 Encrypt=True;
		 Trust Server Certificate=True;
		 Application Intent=ReadWrite;
		 Multi Subnet Failover=False" />
	    </connectionStrings>
</configuration>